body {
background: radial-gradient(circle, rgba(41, 204, 230, 1) 0%, rgba(148, 187, 233, 1) 100%);
height: 50vh;}

.intro {
  font-family: "Bubblegum Sans", sans-serif;
  color: #000000;
  text-align: center;
  padding-top: 2vh;
  font-size: 70px;
  text-align: top;
}


.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 70px;
}


.caveat-regular {
  font-family: "Caveat", cursive;
  font-weight: 500;
  font-style: normal;
    text-align: center;
    font-size: 70px;
}


.navbar {
            background-color:rgba(41, 204, 230, 1) 0%, rgba(148, 187, 233, 1) 100%;
            display: relative;
            align-items: right;
            justify-content: space-between;
        }

        .navbar .logo {
            color: #fff;
            font-size: 80vh;
            font-weight: bold;
            text-decoration: none;
        }

        .nav-links {
            list-style: none;
            display: flex;
            gap: 20px;
            margin: 0;
            padding: 0;
        }

        .nav-links li a {
            color: #fff;
            text-decoration: none;
            font-size: 16px;
        }

        .nav-links li a:hover {
            text-decoration: underline;
        }

.list-container {
    max-width: 400px;
    margin: left;
    background: #088095;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    padding: 20px;
  }